{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                {{ form_start(form, {attr: {'novalidate': 'novalidate'}} ) }}
                <div class="col-12">
                    <div class="form-floating">
                        {{ form_widget(form.name) }}
                    </div>
                    {{ form_errors(form.name) }}
                </div>
                <div data-depend-on="name" data-start-input-url-api-value="api/form">

                </div>
                {{ form_rest(form) }}

                {{ form_end(form) }}

            </div>

        </div>

    </div>
</div>
{% endblock %}
